:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238, 77, 45);

    --navbar-height: 35px;
    --header-height: 140px;
    --header-with-search: calc(var(--header-height) - var(--navbar-height) - 13px);
    --cursor-main-select: pointer;
    
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Responsive  */
.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.grid__col{

}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

@keyframes nofication {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}