#header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
    
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header__navbar-list{
    list-style: none;
}
.header__navbar-item{
    margin: 0 5px;
    position: relative;
}

.header__navbar-item,
.header__navbar-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    cursor: pointer;
   
}
.header__navbar-item:hover,
.header__navbar-link:hover{
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item-bold{
    font-weight: 600;
}

.header__navbar-item--sep::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fff ;
    height: 15px;
    top: 0;
    right: -8px;
}

.icon-header{
    font-size: 15px;
    margin: 2px;
}


.qr-header{
    width: 150px;
    background-color: var(--white-color);
    position: absolute;
    left: 20%;
    top: 200%;
    padding: 8px;
    display: none;
    right: 50px;
    z-index: 10;
    animation: fadeIn ease-in 0.3s;

    
}
.qr-header::before{
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    top: -20px;
    content: "";
    display: block;
    

}
.app-header {
    display: flex;
    justify-content: space-between;
}

.app-header .img-app{
    height: 15px;
}
.qr-header > img{
    width: 100%;
}

.header__navbar-item-qr:hover .qr-header {
    display: block;
}


/* nofication */
.nofication-container{
    position: absolute;
    top:200%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    color: var(--black-color);
    border: 1px solid #d3d3d3;
    transform-origin: top right;
    animation: nofication 0.3s;
    display: none;
}


.header__navbar-notify:hover .nofication-container {
    display: block;
}

.nofication-container-sep::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    top: -20px;
    display: block;

}




.nofication-container h3{
    font-size: 1.3rem;
    font-weight: 400;
    color: #999;
    margin: 0 12px;
    line-height: 40px;
    
}





.nofi-list{
    list-style: none;
    padding: 0;
}


.nofi-list .text_nofi-list a{
    text-decoration: none; 
    color: inherit;
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgba(238, 77, 45,0.1);
    
}

.nofi-list .text_nofi-list .nofi-link{
    width: 50px;

}

.nofi-list .nofi_name-span,
.nofi-list .nofi_descrip-span{
    display: block;
    line-height: 1.5;
}
.nofi-list .nofi_descrip-span{
    font-size: 1rem;
    color: #999;
}
.nofi-list .nofi_name-span{
    font-size: 1.3rem;
    font-weight: 500;
}

.nofi-list .text_nofi-list a:hover {
    background-color: #f7f7f7;
}

.nofication-container .nofi-footer{
    text-align: center;
    color: var(--black-color);
}

